<table>
    <tr>
        <td> <input type="text" />UserName</td>
    </tr>
    <tr>
        <td> <input type="text" /> Password</td>
    </tr>
    <tr>
        <td> <input type="submit" /> Submit</td>
    </tr>
</table>