@model EFDAL.Entities.Category

<table class="table">
    <tr>
        <td> 
            Name
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>

    <tr>
        <td>
            Description
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
</table>
