@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome G# Technology @Model.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <form method="post">
        <input type="text"  name="username" />
        <input type="submit" value="click me" />
        <br />

        <label> @Model.Message</label>
    </form>

</div>
