@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">View Demo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Adertisments
{
<h3>Flipkart Offers</h3>
<h4>On Shirt</h4>
<h4>On Shoes</h4>
}

@section Adertisments1
    {
    <h3>Amazon Offers</h3>
    <h4>On Shirt</h4>
    <h4>On Shoes</h4>
}